<%= form.fields_for :assignment_sections, @assignment_sections do |f| %>
  <div>
    <fieldset id="0">
      Instructions : <%= f.text_area :instructions, placeholder: "What is the assignment?", autocomplete: 'off' %><br />
      Where? : <%= f.text_field :location, placeholder: "e.g. Workbook pg. 10", autocomplete: 'off' %><br />
      Related Links : <%= f.text_field :related_urls, placeholder: "A video or an external resource", autocomplete: 'off' %><br />
    </fieldset>
  </div>
<% end %> 